
DATABASE_URL=mysql+pymysql://db_user:db_password@localhost:3306/todo_db
SECRET_KEY = "491a4c625246ab7f81088bec485d04a60ed77d342a9a1df7bb903cbe52c6b8f4"    
# secret key for the token    uv run python -c "import secrets; print(secrets.token_hex(32))"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 3
REFRESH_TOKEN_EXPIRE_DAYS = 7